<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    
    <add key="Environment.ApiServerUrl" value="https://api.sandbox.ebay.com/wsapi"/><!-- for production, use: https://api.ebay.com/wsapi -->
    <add key="UserAccount.ApiToken" value=""/>
  </appSettings>
</configuration>